{% extends 'base.html' %}

{% block content %}

<div class="container text-center">
    <div class="row">
        <!-- TODO make link more attractive-->
        <a href="{% url 'post_list' %}">Back</a>

        <div class="col align-self-center">
            <h4>Delete comment</h4>
        </div>
    </div>
</div>

<div class="container text-left">
    <div class="card w-70 mb-3">
        <div class="card-body">
            <form method="POST">
            {% csrf_token %}
            <p>Are sure yo want to delete comment "{{ comment.body }}"?</p>
                <button type="submit" class="btn btn-danger">Confirm</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}