{% extends 'base.html' %}

{% block title %}Blog{% endblock title %}

{% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col align-self-center">
            <h3><a href="{% url 'home' %}">Feed</a></h3>
        </div>
    </div>
</div>

{% for post in post_list %}
    <div class="container text-left">
        <div class="card w-70 mb-3">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h5>
                <p class="card-text">{{ post.content }}</p>
                <p class="card-text"><small class="text-muted">Updated in {{ post.updated }}</small></p>
                <button type="button" class="btn btn-outline-info">
                    <a href="{% url 'post_edit' post.pk %}">Edit</a>
                </button>
                <button type="button" class="btn btn-outline-danger">
                    <a href="{% url 'post_delete' post.pk %}">Delete</a>
                </button>
            </div>
        </div>
    </div>
{% endfor %}


{% comment %} https://pytutorial.com/django-search-function/ {% endcomment %}

{% endblock content %}

