{% extends 'base.html' %}

{% block title %}Blog{% endblock title %}



{% block content %}
<br>
<br>
<br>

<!-- Any flash messages pop up in any page because this is the base template-->
{% if messages %}
    <div class="alert alert-dismissible" role="alert">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        <button type="button" class="close" 
            data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}


<div class="container-md">
    <div class="row">

        <!-- Greeting block -->
        <header>
            {% if user.is_authenticated %}
            <p class="fs-4 text-center ">
                Hello, {{ user.username | capfirst}}!
            </p>
            <p class="fw-semibold text-center">You can write posts, comment another posts and like posts.
                Just try!
            </p>
            {% else %}
            <p class="fs-4 text-center">
                You are not logged in!
            </p>
            <p class="fw-semibold text-center">Hey, login or sign up your account. 
                You could write some posts, comment another posts and like posts.
            </p>
            {% endif %}
        </header>

        <!-- Left sidebar-->
        <div class="col-sm-2">
            <p class="text-center">Left Sidebar</p>
            {% include 'sidebar.html' %}
        </div>

        <!-- Feed -->
        <div class="col-sm-8">
            <p class="text-center">Feed</p>
            
            <!-- Render posts -->
            {% if posts %}
                {% for post in posts %}
                <div class="card card-signin my-5 text-bg-light border-dark">
                    <article>
                        <div class="card-body">

                            <!-- POST -->
                            <a href="{% url 'user_profile' post.author.profile.pk %}">
                                <img class="rounded-circle article-img" 
                                    src="{{ post.author.profile.avatar.url }}" 
                                    alt="" height=50 width=50>
                            </a>
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-subtitle mb-2 text-black-50 ">
                                Posted on {{ post.date_created | date:"N j Y" }} by 
                                <b><a href="{% url 'user_profile' post.author.profile.pk %}">
                                    @{{ post.author | capfirst }}</a></b>
                            </p>
                            <p class="card-text">{{ post.content | truncatewords:10 }}</p>

                            <!-- LIKES -->
                            <strong class="text-secondary">
                                {% if post.likes.count %}
                                    <!-- Show red like when user like some post -->
                                    {% if user.is_authenticated and request.user in post.likes.all%}
                                            <i class="bi bi-heart-fill" style="color: red;"></i>
                                        {% else %}
                                            <i class="bi bi-heart-fill"></i> 
                                    {% endif %} {{ post.likes.count }}
                                {% else %}
                                    <i class="bi bi-heart" style="color: red;"></i>
                                {% endif %}
                            </strong>
                            <!-- ./ LIKES -->
        
                            <p class="card-text text-info">
                                <a href="{% url 'post_detail' post.pk %}">
                                    Read more ...</a></p>
                            
                            <p class="card-text"><small class="text-muted">
                                Updated {{ post.date_updated | timesince}} ago</small></p>

                            <!-- TAGS -->
                            {% if post.tags %}
                                <br>
                                <p class="text-danger ml-3"><b>Tags: <i>{{ post.tags }}</i></b></p>
                            {% endif %}

                            <!-- Edit & Delete only for author of post -->
                            {% if request.user == post.author %}
                                <div>
                                    <a href="{% url 'post_edit' post.pk %}">
                                        <i class="bi bi-pencil-fill"></i></a> |
                                    <a href="{% url 'post_delete' post.pk %}">
                                        <i class="bi bi-trash-fill"></i></a>
                                </div>
                            {% endif %}
                            
                        </div>
    
                        <!-- Comments-->
                        {% if post.comment_set.all %}
                            <div class="card-footer">
                                <a href="{% url 'post_detail' post.pk %}">
                                    Comment{{ post.comment_set.count | pluralize }} 
                                    ({{ post.comment_set.count }}) :
                                </a>
                                
                                <br>
                                {% comment %} {% for comment in post.comment_set.all %}
                                    <p class="card-text">
                                        <img class="rounded-circle article-img" src="{{ comment.author.profile.avatar.url }}" height=40 width=40>
                                        <a href="">{{ comment.author | capfirst }}</a>
                                            On {{ comment.date_created }}
                                    </p>
                                    <p>{{ comment }}</p>
                                {% endfor %} {% endcomment %}
                            </div>
                        {% endif %}
                        <!-- End Comments-->

                    </article> 
                </div>
        
                {% endfor %}
            
            {% else %}
                <div class="container text-left">
                    <div class="card w-60 mb-3">
                        <div class="card-body">
                            <p>No one post was written... </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        <!-- Right sidebar-->
        <div class="col-sm-2">
            <p class="text-center">Right Sidebar</p>
            
            <p class="text-center">Tags:</p>
            {% for tag in post.tags %}
                {{ tags }}
            {% endfor %}
                
        </div>
    </div>
</div>


<!-- Pagination-->
{% include 'pagination.html' %}

<br>
<br>
{% endblock content %}



{% block jsfiles %}
<script>
	$(".like").click(function (e) {
    var id = this.id;
    var href = $('.like').find('a').attr('href');
    e.preventDefault();

    $.ajax({
        url: href,
        data: {
            'likeId': id
        },
        success: function(response){
            if(response.liked){
                $('#likebtn' + id).html("Unlike");
                $('#likebtn' + id).css("color", "red")
            }
            else{
            $('#likebtn' + id).html("Like");
            $('#likebtn' + id).css("color", "green")
            }
        }
    })
});
</script>
{% endblock jsfiles %}
