{% extends 'base.html' %}

{% block title %}Post edit{% endblock title %}

{% block content %}
<br>
<br>
<br>

<div class="container-md text-center">
    <div class="row">
        <!-- TODO make link more attractive-->
        <a href="{% url 'post_list' %}">Back</a>
        <div class="col align-self-center">
            <h4>Post create/update page</h4>
        </div>
    </div>
</div>


<div class="container-md">
    <div class="row">
        <div class="col-sm-2"></div>

        <!-- Post create form -->
        <div class="col-sm-8 col-lg-8">

            <div class="card card-signin my-5 text-bg-light border-dark">
                <div class="card-body">
                    <div class="form-signin">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset>
                                {{ form.as_p }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Post</button>
                                <a class="btn btn-outline-secondary" 
                                    href="{% url 'post_list' %}">Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2"></div>


    </div>
</div>

{% endblock %}
