{% extends 'base.html' %}

{% block title %}{{post.title}}{% endblock title %}

{% block content %}
<br>
<br>
<br>

<div class="container-md text-center">
    <div class="row">
        <!-- TODO make link more attractive-->
        <a href="{% url 'post_list' %}">Back</a>

        <div class="col align-self-center">
            <h5>Post Detail</h5>

        </div>
    </div>
</div>

<div class="container-md">
    <div class="row align-content-center">

        <!-- Left sidebar-->
        <div class="col-sm-2">
        </div>
        
        <!-- Post -->
        <div class="col-sm-8 col-10">
            <div class="card card-signin my-5 text-bg-light border-dark"
                style="margin=20 px;">
                <article>
                    <div class="card-body">

                        <!-- POST -->
                        <a href="{% url 'user_profile' post.author.profile.pk %}">
                        <img class="rounded-circle article-img" 
                            src="{{ post.author.profile.avatar.url }}" 
                            height=50 width=50>
                        </a>
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-subtitle mb-2 text-muted">
                            Created in {{ post.date_created | date:"N j Y" }} by 
                            {% if user.is_authenticated %}
                                <a href="{% url 'user_profile' user.profile.pk %}">
                                    @{{ post.author | capfirst }}</a>
                            {% else %}
                                <a href="#">@{{ post.author | capfirst }}</a>
                            {% endif %}
                        </p>            
                        <p class="card-text">{{ post.content | linebreaks }}</p>
                        <p class="card-text"><small class="text-muted">
                            Updated {{ post.date_updated | timesince }} ago</small></p>
            
                        <!-- LIKES -->
            
                        <!-- Implement post like system -->
                        {% if user.is_authenticated %}
                            <form action="{% url 'post_like' post.pk %}" method="POST">
                                {% csrf_token %}
                                {% if post_is_liked %}
                                    <button type="submit" name="post_id" value="{{object.id}}">
                                            <span class="bi bi-hand-thumbs-up-fill"></span>
                                        </button>
                                    <button type="submit" name="post_id" value="{{object.id}}">
                                            <span class="bi bi-hand-thumbs-down"></span>
                                        </button>
                                {% else %}
                                    <button type="submit" name="post_id" value="{{object.id}}">
                                            <span class="bi bi-hand-thumbs-up"></span>
                                        </button>
                                    <button type="submit" name="post_id" value="{{object.id}}">
                                            <span class="bi bi-hand-thumbs-down"></span>
                                        </button>
                                {% endif %}
                            </form>
                        {% else %}
                            <a class="btn btn-outline-info" 
                                href="{% url 'login' %}?next={{request.path}}">
                                    Log in to like this article!
                            </a><br>
                        {% endif %}
                        <br>
                            <!-- Render likes -->
                            <strong class="text-secondary">
                                {% if post.likes.count %}
                                    {% if post_is_liked %}
                                        <i class="bi bi-heart-fill" style="color: red;"></i>
                                    {% else %}
                                        <i class="bi bi-heart-fill"></i>
                                    {% endif %}
                                    {{ post.likes.count }}
                                    
                                <!-- No one likes -->
                                {% else %}
                                    <i class="bi bi-heart"></i>
                                {% endif %}
                            </strong>
                        <br>
                        <!-- ./ LIKES -->
            
                        <!-- TAGS -->
                        {% if post.tags %}
                            <br>
                            <p class="text-danger ml-3"><b>Tags: <i>{{ post.tags }}</i></b></p>
                        {% endif %}
                        <br>
                        <!-- Update/delete -->
                        {% if post.author == request.user %}
                            <div>
                                <a href="{% url 'post_edit' post.pk %}">
                                    <i class="bi bi-pencil-fill"></i></a> |
                                <a href="{% url 'post_delete' post.pk %}">
                                    <i class="bi bi-trash-fill"></i></a>
                            </div>
                        {% endif %}
                        <hr>
            
                        <!-- Comments-->
                        {% if user.is_authenticated %}
                        <span class="card-title">Add a comment:</span>
                            <form method="post">
                                {% csrf_token %}
                                {{ comment_form }}
                                <button type="submit" class="btn btn-success ml-2">Save</button>
                            </form>
                        {% else %}
                            <a class="btn btn-outline-info" 
                                href="{% url 'login' %}?next={{request.path}}">
                                    Log in to add a comment!
                            </a><br>
                        {% endif %}
                        
                        {% if comments %}
                            <p>{{ comments.count }} Comment{{ comments.count|pluralize }}</p>
                            <hr>
                            {% for comment in comments %}
                                <p class="card-text">
                                    <img class="rounded-circle article-img" 
                                        src="{{ comment.author.profile.avatar.url }}" 
                                        height=40 width=40>
                                    <a href="#">@{{ comment.author | capfirst }}</a>
                                    {{ comment.date_created | timesince }} ago
                                </p>
                                <p>{{ comment.body | safe }}</p>
            
                                <!-- Comments LIKES -->
            
                                <!-- Implement comment like system -->
                                {% if user.is_authenticated %}
                                <form action="#" method="POST">
                                    {% csrf_token %}
            
                                    <span class="bi bi-hand-thumbs-up"></span> |                           
                                    <span class="bi bi-hand-thumbs-down"></span>
                                </form>
                                {% else %}
                                    <a class="btn btn-outline-info" 
                                        href="{% url 'login' %}?next={{request.path}}">
                                        Log in to like this article!
                                    </a><br>
                                {% endif %}
                                <br>
                                    <!-- Render likes -->
                                    <strong class="text-secondary">
                                        {% if comment.likes.count %}
                                            {% if comment_is_liked %}
                                                <i class="bi bi-heart-fill" style="color: red;"></i>
                                            {% else %}
                                                <i class="bi bi-heart-fill" style="color: blue;"></i>
                                            {% endif %}
                                            {{ comment.likes.count }}
            
                                        <!-- No one likes -->
                                        {% else %}
                                            <i class="bi bi-heart" style="color:red;"></i>
                                        {% endif %}
                                        
                                    </strong>
                                <br>
            
                                <!-- Update/delete comments-->
                                {% if comment.author == request.user %}
                                <div>
                                    <a href="#"><i class="bi bi-pencil-fill"></i></a> |
                                    <a href="#"><i class="bi bi-trash-fill"></i></a>
                                </div>
                                {% endif %}
                                
                                <hr>
                            {% endfor %} <!-- End comment loop -->
                        <br>
                        {% else %}
                            <p>No comments yet...</p>
                        {% endif %}
                    </div>
                    
                </article>
        
            </div>
        </div>

        <br>
        <br>
        <br>
        
        <!-- Right sidebar-->
        <div class="col-sm-2">
        </div>



    </div>
</div>


{% endblock %}

