/* nav{
    display: flex;
    align-items: center;
    height: 40px;
    float: right;
    text-align:justify;
} */

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
}

h1,
h2 {
    text-align: center;
}

.container-fluid{
    margin-bottom: 20px;
    text-align:center;
}

.navbar{
    background-color: aqua;
}

.sub p{
    margin: 0;
    margin-top: 10px;
}


li>a {
    color:blueviolet; 
}

a:hover{
    color:darkturquoise;
}

a:active{
    color:rgb(217, 29, 235);
}

