<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <style>

        body{


        }

        .content{
            width: 70%;
            margin: 0 auto;
        }

        .post{
            margin: 15px;
            padding: 10px;
            border: 1px solid;
            border-radius: 10px;
            shadow: 10px;
        }

        h1, h2{
            text-align: center;
        }

        a{
            
        }
    </style>
</head>
<body> 
    {% include 'navbar.html' %}

    {% block content %}

    {% endblock content %}

</body>
</html>