<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top"  
    style="background-color: #e3f2fd;">
    <div class="container">
    {% comment %} <div class="container-fluid"> {% endcomment %}
        
        <!-- Navbar brand-->
        <a class="navbar-brand mr-4" href="/">My Blog</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarToggle"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar collapse -->
        <div class="collapse navbar-collapse " id="navbarNav">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="/" style="color:blue;">Home</a>
            </div>
            {% comment %} <ul class="nav justify-content-end"> {% endcomment %}
                
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <span class="navbar-text text-right">
                        Hello, {{ user.username | capfirst}}!
                    </span>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users-profile' %}" 
                            style="color:green;">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}" 
                            style="color:dark;">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'post_create' %}" 
                            style="color:red;">Create Post</a>
                    </li>
                {% else %}
                    <span class="navbar-text text-right">
                        You are not logged in!
                    </span>
                    <a class="nav-item nav-link" href="{% url 'login' %}" 
                        style="color:purple;">Sign In</a>
                {% endif %}
            </ul>
        </div> <!--./ Navbar collapse -->
    </div>
</nav>

